rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read/write access for busStates collection only
    match /busStates/{busId} {
      allow read, write: if true;
    }
    
    // Allow read access to other collections for public
    // but restrict write access
    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}